/** @format */
body {
  font-family: "Segoe UI";
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
